# Traefik Static Configuration
api:
  dashboard: true
  insecure: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-network
    watch: true
  file:
    directory: "/etc/traefik"
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      middlewares:
        - secure-headers@file

  traefik:
    address: ":8080"

certificatesResolvers:
  myresolver:
    acme:
      email: admin@duongbd.site
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

log:
  level: INFO
  filePath: "/var/log/traefik/traefik.log"
  format: json

accessLog:
  filePath: "/var/log/traefik/access.log"
  format: json
  bufferingSize: 100

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    manualRouting: true

ping:
  entryPoint: "traefik"

global:
  checkNewVersion: false
  sendAnonymousUsage: false